<main>
  <div class="pgTitle">
    <h1>Search</h1>
    <h4>Find Your Favorite Recipes Here</h4>
  </div>

  <!--Search Criteria, filter through json and create list in the "preview" section-->
  <div class="floatBox">
    <form>
      <p class="instructions">Enter your Preferences Below:</p>
      <div class="range">
        <p class="calorieLabel">Calories</p>
        <input
          type="range"
          min="200"
          max="1000"
          value="500"
          class="calSlider"
          id="calories"
          placeholder="Choose Here"
        />
      </div>
      <p>Dairy Free</p>
      <input type="checkbox" id="searchBox" placeholder="Dairy Free" />
      <input
        [(ngModel)]="filterText"
        type="text"
        id="searchBox"
        placeholder="Looking for a specific Recipe?"
      />
      <!-- <p class="search">Search by:</p>
      <div class="buttonBox">
        <button type="checkbox" id="calories">
          <a routerLink="Favorite" class="buttonLink"> Calorie Information</a>
        </button>
        <button type="checkbox" id="cantEat">
          <a routerLink="Favorite" class="buttonLink">Dietary Restrictions</a>
        </button> -->
      <button type="radio" id="search">
        <a routerLink="recipeList" class="buttonLink">search</a>
      </button>
      <!--</div> -->
    </form>
  </div>

  <!--Pre Built Lists Links -> To go To outside site-->
  <div class="preBuilt">
    <div class="preBox"><a href="#" id="preListLink">Comfort Food</a></div>
    <div class="preBox"><a href="#" id="preListLink">15 minute Meals</a></div>
    <div class="preBox">
      <a href="#" id="preListLink">Delicious Desserts</a>
    </div>
    <div class="preBox"><a href="#" id="preListLink">Holiday Classics</a></div>
  </div>
  <!--Preview Section for Recipes-->
  <div class="spacer">
    <!-- addInput - ngIf=hasSearchResults - <searchResult-app> </> -->
    Search Results Here
    <!-- Show when search results come back-->
  </div>
</main>
